.topmenu {
  padding-top: 10px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  border: solid transparent;
  background-color: white;
  display: inline-block
}
.button:hover {
  cursor: pointer;
  background-color: #dadce0;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 40px;
}

.dropdown-child {
  display: none;
}

.dropdown-child button {
  display: block;
  border-color: #dadce0;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.slide {
  width: 1000px;
  height: 600px;
  margin: 150px auto;
  border: 2px solid black;
  background-color: red;
}