.topmenu {
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  border: solid transparent;
  background-color: white;
  display: inline-block
}
.button:hover {
  cursor: pointer;
  background-color: #dadce0;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 40px;
}

.dropdown-child {
  display: none;
}

.dropdown-childPrimiive {
  display: block;
}

.dropdown-child button {
  display: block;
  border-color: #dadce0;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.title {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  width: 200px;
  height: 40px;
  padding: 0 27%;
  border-radius: 5%;
  border: solid transparent;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changeTitle {
  display: flex;
  justify-content: center;
}

.titleStr {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.lineHorizon {
  margin: 10px 0;
  border-bottom: 1px solid #dadce0;
}

.lineVertical {
  margin: 0 10ps;
  border-left: 1px solid #dadce0;
}

.slides {
  display: flex;
  justify-content: space-evenly;
}

.slidesList {
  height: 600px;
  margin: 14px auto;
  overflow: auto;
}

.slidesList::-webkit-scrollbar {
  width: 10px;
  border: 3px solid #dadce0;
  border-radius: 5px;
}

.slidesList::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  border-radius: 20px;
  border: 1px solid white;
}

.slideList-dedicatedSlide{
  width: 148px;
  height: 88px;
  margin: 14px 0;
  border: 2px solid rgb(237 169 18);
  border-radius: 10px;
}

.slidesList-element {
  width: 148px;
  height: 88px;
  margin: 14px 0;
  border: 2px solid black;
  border-radius: 10px;
}

.elementList {
  width: 144px;
  height: 80px;
  margin: 20px auto;
  border: 2px solid black;
}

.slide {
  width: 900px;
  height: 500px;
  margin: 80px auto;
  border: 2px solid black;
  border-radius: 10px;
}

.selectElem {
  border: 2px solid rgb(237 169 18);
  position: relative;
}

.circle {
  border: solid 0.3em;
  border-color: black;
  background-color: #dadce0;
}
.selectElem-rectangle {
  border: 2px solid rgb(237 169 18);
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  position: relative;
}
.rectangle {
	border: solid 0.3em;
  border-color: black;
  background-color: #dadce0;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.selectCircle {
  border: solid;
  border-color: black;
  background-color: #dadce0;
}
.selectRectangle{
  border: solid;
  border-color: black;
  background-color: #dadce0;
  -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}