.topmenu {
  padding-top: 10px;
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  width: 100px;
  height: 40px;
  border-radius: 5%;
  border: solid transparent;
  background-color: white;
  display: inline-block
}
.button:hover {
  cursor: pointer;
  background-color: #dadce0;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 40px;
}

.dropdown-child {
  display: none;
}

.dropdown-child button {
  display: block;
  border-color: #dadce0;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.line {
  margin: 10px 0;
  border-bottom: 1px solid #dadce0;
}

.slides {
  display: flex;
  justify-content: space-evenly;
}

.slideList {
  display: contents;
}

.elementList {
  width: 144px;
  height: 80px;
  margin: 20px auto;
  border: 2px solid black;
}

.slide {
  width: 900px;
  height: 500px;
  margin: 80px auto;
  border: 2px solid black;
}